extends layout

block g
    input#hid-main(type='hidden')
block content
    div#successMsg
        div #{locale.seeu}
        img(src='/img/wedding-rings.png', alt='',width='50',height='50')

    img(id='collage',src='/img/hg.jpg', alt='', class='collage responsive')
    img(id='collage-large',src='/img/hg-large.jpg', alt='', class='collage responsive')
    div#container.wrapper-main
        div#rsvpCont.row.center
            button(id='rsvp',title=locale.rsvp) #{locale.rsvp}
        div#formaz
            ul#list
            div.row
                div.mandatory *
                input(id='txtFullName',type='text',placeholder=locale.fullname)
                div#error #{locale.errmsg}
            div.row
                input(id='txtFavoriteSong',type='text',placeholder=locale.favsong)
            div.row
                button(id='addBtn',title=locale.addperson) #{locale.addperson}
            div.row
                input(id='submit',type='submit',value=locale.confirm)
    - var urlLocale = '/';
    - if(clsDir === 'rtl') urlLocale = '/en';

    div.locale
        a(href=urlLocale) #{locale.locale}
