extends layout

block css
    link(href='/css/main.css',rel='stylesheet',type='text/css')

block content
    div#successMsg
        div #{locale.seeu}
        img(src='/img/wedding-rings.png', alt='',width='50',height='50')

    img(id='collage',src='/img/collage.png', alt='', class='collage responsive')
    div#container.wrapper
        ul#list
        div.row
            div.mandatory *
            input(id='txtFullName',type='text',placeholder=locale.fullname)
            div#error #{locale.errmsg}
        div.row
            input(id='txtFavoriteSong',type='text',placeholder=locale.favsong)
        div.row
            button(id='addBtn',title='Add another person') #{locale.addperson}
        div.row
            input(id='submit',type='submit',value=locale.confirm)
    - var urlLocale = '/';
    - if(clsDir === 'rtl') urlLocale = '/en';

    div.locale
        a(href=urlLocale) #{locale.locale}

block js
    script(src='/js/main.js')
