extends layout

block g
    input#hid-main(type='hidden')
block content
    div#successMsg
        div #{locale.seeu}

    img(id='collage',src='/img/hg.jpg', alt='', class='collage responsive')
    img(id='collage-large',src='/img/collage.jpg', alt='', class='collage responsive')
    div#container.wrapper-main
        div#rsvpCont.row.center
            span(id='rsvp',title=locale.rsvp,class='rsvp') #{locale.rsvp}
        div#formaz
            ul#list
            div.row
                div.mandatory *
                input(id='txtFullName',type='text',placeholder=locale.fullname)
                div#error #{locale.errmsg}
            div.row
                input(id='txtFavoriteSong',type='text',placeholder=locale.favsong)
            div.row.center
                span.rsvp.small(id='addBtn',title=locale.addperson) #{locale.addperson}
            div.row
                span.rsvp.submit(id='submit') #{locale.confirm}
    - var urlLocale = '/';
    - if(clsDir === 'rtl') urlLocale = '/en';

    div.locale
        a(href=urlLocale) #{locale.locale}
